html {
    font-size: 100%;
}

body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    background-color: #FFDAB9;
}

.logo {
    font-family: 'Shadows Into Light', cursive;
}

.navbar {
    height: 100%;
    width: 30%;
    background-color: aqua;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FF4646;
}

.room:hover {
    color: white;
    cursor: pointer;
}

.container {
    height: 100%;
    width: 70%;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1.5rem;
}

.table {
    width: 90%;
}

.row {
    height: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.username {
    width: 80%;
}

.sentAt {
    width: 20%;
}

.oddRow {
    background-color: white;
    color: black;
}

.modal {
  display: block;
}

.modal-body:before,
  .modal-body:after {
    display: table;
    content: " ";
}

.modal-header:before,
.modal-header:after {
  display: table;
  content: " ";
}

.input-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70%;
}

.selling-points {
  position: relative;
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.point {
  display: table-cell;
  position: relative;
  width: 33.3%;
  padding: 2rem;
  text-align: center;
  font-size: 20px
}

.point .point-title {
  font-size: 30px;
}

.ion-chatbox-working,
.ion-ios-infinite,
.ion-paper-airplane {
  color: rgb(0,0,0);
  font-size: 10rem;
}

body {
  background-color: #ff00ff;
}

.log-out {
/*  padding-top: 2rem;*/
}

.jumbotron {
  background-color: blue;
  color: white;
}

.modal-dialog .modal-content .modal-header .modal-title {
  color: black;
}

.modal-dialog .modal-content .modal-footer {
  color: red;
  text-align: center;
